In [2]:
from selenium import webdriver
from bs4 import BeautifulSoup

driver = webdriver.Chrome("C:/Users/minO/chromedriver/chromedriver.exe")
url = 'https://music.bugs.co.kr/chart'
driver.get(url)
html = driver.page_source
soup = BeautifulSoup(html, 'html.parser')

In [3]:
songs = soup.select('table.byChart > tbody > tr')
print(len(songs))

100

In [4]:
import pandas as pd
song_data = []
rank = 1
for song in songs:
 title = song.select('p.title > a')[0].text
 singer = song.select('p.artist > a')[0].text
 song_data.append(['Bugs', rank, title, singer])
 rank = rank + 1

In [5]:
columns = ['서비스', '순위', '타이틀', '가수']
pd_data = pd.DataFrame(song_data, columns = columns)

In [6]:
pd_data

     서비스   순위                      타이틀                 가수
0   Bugs    1                       회상                정경호
1   Bugs    2                 Queendom  Red Velvet (레드벨벳)
2   Bugs    3                DUMB DUMB                전소미
3   Bugs    4                     STAY      The Kid LAROI
4   Bugs    5            낙하 (with 아이유)           AKMU(악뮤)
..   ...  ...                      ...                ...
95  Bugs   96                     Coin            아이유(IU)
96  Bugs   97                    SUNNY                 선미
97  Bugs   98  EVEREST (with Sam Kim)            AKMU(악뮤)
98  Bugs   99                Tiny Riot          Sam Ryder
99  Bugs  100   은하수를 닮은 너에게 (Feat.몰리디)               경서예지

[100 rows x 4 columns]

In [14]:

pd_data.to_excel("../web_scraping_practice/bugs_practice.xlsx", index=False)

In [15]:
driver.quit()